.title {
    font-size: 0.9rem;
}

.card {
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 2rem;
}

.image {
    /* min-height: 15rem; */
    background-color: #CCCCCC; 
}

.image img{
    display: block;
    object-fit: cover;
   
}

.content {
    padding: 1rem ;
    font-size: 0.8rem;
}

.text {
    margin: 0.5rem 0;
}
.wrap {
    display: flex;
    justify-content:space-between;
    /* gap: 1rem;
    margin-bottom: .5rem; */
}

.tags {
    display: inline-block;
    background-color: grey;
    color: white;
    padding: .5rem
}

.tag {
    display: inline-block;
    background-color: grey;
    color: white;
    padding: .5rem
}

.htmlt {
    background-color: lightblue;
}

.jst {
    background-color: lightgreen;
}

.phpt {
    background-color: lightcoral;
}
.csst {
    background-color: chocolate;
}

