* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #E5E5E5;
}

.container {
  width: 60%;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.col {
  width: 60%
}

main {
  min-height: 85vh;
}
